* {
  /* universal selector */
  background-color: azure;
}

/*override->ezme*/
/* body{
    background-color:antiquewhite ;
} */

h1 {
  color: red;
}
li {
  list-style-type: none;
  color: blueviolet;
}

li:hover {
  color: purple;
  font-weight: 800;
  /* !cursor el şeklinde gözüksün */
  cursor: pointer;
}

h1:hover {
  /*! saydamlık kat sayısı */
  opacity: 0.5;
  cursor: pointer;
}

.list {
  border: 1px solid red;
}
