* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container1 {
  display: grid;
  grid-template-columns: auto;
  row-gap: 100px;
}
.nav1,
.nav2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.head1 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.nav1 {
  display: grid;
  justify-content: start;
  grid-template-columns: auto auto;
}

.nav2 {
  display: grid;
  justify-content: end;
  grid-template-columns: auto auto auto auto;
}

.container2 {
  display: grid;
  place-content: center;
}

input #google {
  z-index: 1;
  width: 300px;
}
